#scherm1 {
    margin: 1rem 0 0 1rem;
    background-color: transparent;
    color: white;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }
  
  #scherm2 {
    margin: 1rem 0 0 1rem;
    background-color: transparent;
    color: white;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }
  
  #rondje {
    width: 25%;
    min-height: 8em;
    margin: 1rem 0 0 1rem;
    background-color: yellow;
    color: black;
    border-radius: 100em;
    padding: 4%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
  }